@inherits RocketContent.Components.RocketContentTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContent.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContent/App_LocalResources/")

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var lp = 1;
    var lp2 = 1;
}

<!------------------------------------------------------------------------------------------------------------------------------>

<div class="w3-content" style="max-width:1200px">

    <div class="w3-row">
        @foreach (var articleRowData in articleData.GetRows())
        {
            var imageList = articleRowData.GetImages();
            foreach (var i in imageList)
            {
                if (lp == 1)
                {
                    <img class="sliderind@(sessionParams.ModuleRef)" src="@ThumbnailImageWebsiteDomainUrl(i.RelPath, 640, 200)" style="width:100%"> }
                else
                {
                    <img class="sliderind@(sessionParams.ModuleRef)" src="@ThumbnailImageWebsiteDomainUrl(i.RelPath, 640, 200)" style="width:100%;display:none">}
                lp += 1;
            }

        }
    </div>

    <div class="w3-row" style="margin: 8px -8px;">

        @foreach (var articleRowData in articleData.GetRows())
        {
            var imageList = articleRowData.GetImages();
            foreach (var i in imageList)
            {
                <div class="w3-col s6 m4 l2 w3-padding-small" style="margin-bottom: 8px">
                    <img class="demo@(sessionParams.ModuleRef) w3-opacity w3-hover-opacity-off" src="@ThumbnailImageWebsiteDomainUrl(i.RelPath, 300, 200)" style="width:100%;cursor:pointer" onclick="currentDiv@(sessionParams.ModuleRef)(@lp2)">
                </div>
                lp2 += 1;
            }
        }

    </div>

</div>



<script>
        function currentDiv@(sessionParams.ModuleRef)(n) {
            showDivs@(sessionParams.ModuleRef)(slideIndex = n);
        }

        function showDivs@(sessionParams.ModuleRef)(n) {
            var i;
            var x = document.getElementsByClassName("sliderind@(sessionParams.ModuleRef)");
            var dots = document.getElementsByClassName("demo@(sessionParams.ModuleRef)");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-opacity-off";
        }
</script>




